<div mat-dialog-title>
  <h1>User Form</h1>
</div>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <!-- Form content goes here -->

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. John Doe"
          formControlName="name"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Ex. example@example.com"
          formControlName="email"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Job Title</mat-label>
        <mat-select formControlName="jobTitle">
          <mat-option value="Developer">Developer</mat-option>
          <mat-option value="Manager">Manager</mat-option>
          <mat-option value="Designer">Designer</mat-option>
          <mat-option value="Product Owner">Product Owner</mat-option>
        </mat-select>
        <!--<mat-hint align="end">select your job title</mat-hint>-->
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-label><b>Gender</b></mat-label>
        <mat-radio-button type="radio" value="Male">Male</mat-radio-button>
        <mat-radio-button type="radio" value="Female">Female</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Update" : "Save" }}
    </button>
  </div>
</form>
