<!-- <mat-toolbar> -->
<!-- <span></span>
  <span class="example-spacer"></span> -->
<!-- If this is for ADDING a user, pass null or an empty object -->
<button
  mat-raised-button
  color="primary"
  (click)="showUserDetails.set(true); selectedUser.set(null)"
>
  + USER
</button>
<!-- </mat-toolbar> -->

<div class="list-container">
  <app-generic-table
    [myDataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    (delete)="deleteUser($event)"
    (edit)="onEditUser($event)"
  >
  </app-generic-table>
</div>

@if (showUserDetails()) {
  <div class="details-container">
    <p></p>
    <p>Enter/Update user details:</p>
    <app-user-details
      [user]="selectedUser()"
      (saveSuccess)="showUserDetails.set(false); getUserList()"
      (cancel)="showUserDetails.set(false)"
    >
    </app-user-details>
  </div>
}
