<!-- Basic Table
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (user of Users; track user.name) {
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td style="width: 20%">{{ user.gender }}</td>

        <td>
          <button (click)="editUser(1)" type="button">Edit</button>
        </td>
        <td>
          <button (click)="deleteUser(1)" type="button">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>
-->
<!--Table with Angular Material -->
<mat-toolbar color="primary">
  <span> CRUD with Reactive Form</span>
  <span class="example-spacer"></span>

  <!-- <button mat-raised-button (click)="onAddUser()">ADD USER</button>-->
  <button
    mat-raised-button
    color="accent"
    [routerLink]="['new']"
    routerLinkActive="router-link-active"
  >
    <!-- (click)="onAddUser()"-->
    ADD USER
  </button>
</mat-toolbar>
<div class="list-container">
  <app-generic-table
    [myDataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    (delete)="deleteUser($event)"
  >
    ></app-generic-table
  >
</div>

<router-outlet></router-outlet>
